<!doctype html>
<html lang="en">

<head>
    <title>Advice</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/signup.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>

<body>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>
<script src="/js/signup.js"></script>

<div class="signup">
    <div class="col-sm-5">
        <div class="form-data">
            <div class="form-head">
                <h2 style="color: black">Appointment</h2>
            </div>
            <div class="form-body">
                <form action="/signup/doctor" method="POST" enctype="multipart/form-data">
                    <div class="row form-row">
                        <label>Name: </label>
                        <span>
                                <input type="text" name="name" placeholder="Enter Your First Name"
                                       class="form-control">
                            </span>
                    </div>
                    <div class="row form-row">
                        <label>User Name: </label>
                        <span>
                                <input type="text" name="user_name" placeholder="Enter Your User ID"
                                       class="form-control">
                            </span>
                    </div>
                    <div class="row form-row">
                        <label>Password: </label>
                        <span>
                                <input type="password" name="password" placeholder="Enter Your Password"
                                       class="form-control">
                            </span>
                    </div>
                    <div class="row form-row">
                        <label>Workplace:</label>
                        <span>
                                <input type="text" name="work_place" placeholder="Enter Your Workplace"
                                       class="form-control">
                            </span>
                    </div>
                    <div class="row form-row">
                        <label>Qualification:</label>
                        <span>
                                <input type="text" name="qualification" placeholder="Enter Your Qualification"
                                       class="form-control">
                            </span>
                    </div>
                    <div class="row form-row">
                        <label>Experience:</label>
                        <span>
                                <input type="text" name="experience" placeholder="Enter Your Experience"
                                       class="form-control">
                            </span>
                    </div>
                    <div class="row form-row">
                        <label>Choose your Department:</label>
                        <span>
                                <select name="department" class="form-control">
                                    <option value="dental">Dental</option>
                                    <option value="surgery">Surgery</option>
                                    <option value="medicine">Medicine</option>
                                    <option value="ent">ENT</option>
                                    <option value="heart">Heart</option>
                                    <option value="skin">Skin</option>
                                </select>
                            </span>
                        <br><br>
                    </div>
                    <div class="row form-row">
                        <label>Wallet Address: </label>
                        <span>
                                <input type="text" name="wallet_address" placeholder="Enter Your Wallet Address" disabled
                                       value="ADDRLLS(BFLO" class="form-control">
                            </span>
                    </div>
                    <div class="row form-row">
                        <label>Private Key: </label>
                        <span>
                                <input type="text" name="private_address" placeholder="Please copy and save this private key" disabled
                                       class="form-control">
                            </span>
                    </div>

                    <div class="row form-row float-md-none">
                            <span><input type="file" name="imagefile" class="form-control border"
                                         id="input-files"/></span>
                    </div>

                    <div class="row form-row">
                        <div class="col-sm-12">

                            <div class="preview-images"></div>
                        </div>
                    </div>

                    <label class="label">Gender :</label>
                    <input type="radio" name="gender" id="male" value="male" checked>
                    <label class="label1" for="male">Male</label>
                    <input type="radio" name="gender" id="female" value="female">
                    <label class="label1" for="female">Female</label><br>
                    <input type="submit" value="SIGNUP">
                </form>
            </div>
        </div>
    </div>
</div>

</body>

</html>