body {
    font-family: 'Roboto', sans-serif;
    background-image: url("../image/bg.jpg");
    background-size: cover;
    align-items: center;
}

/*.signup{
    background: rgba(44,62,80,.7);
    padding: 40px;
    width: 330px;
    margin: auto;
    margin-top: 80px;
    height: 450px;
    margin-left: 500px;
    
}*/
.nav-back {
    background: rgba(0, 255, 255, 0.8);
}

.navbar-brand {
    color: black;
    font-weight: bold;
}

.navbar-brand:hover {
    color: #fff;
}

.nav-link {
    color: black;
}

.nav-link:hover {
    color: #fff;
}

.form-data {
    margin-top: 15%;
    background: rgba(44, 62, 80, .7);
    width: 400px;
    margin-left: 500px;
}

.form-body {
    padding: 20px;
}

.form-head {
    padding: 20px;
    border-bottom: 1px solid#ccc;
}

.form-head h2 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.form-row {
    margin-bottom: 15px;
}

.form-control {
    background-color: #f7f7ff;
}

.form-control:hover {
    box-shadow: none;
    border: 3px solid#138496;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  height: 200px;
  background-color: rgba(155,136,217,1);
}
.myCard{

    position: relative;
    margin-top: 200px;
    margin-left: 200px;
    padding-top: 20px;
    display: -ms-flexbox;
    display: flex;
    flex: left;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    width:60%;
    height:200px;
    word-wrap: break-word;
    background-color: red;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}

.myCard2{

    position: relative;
    margin-top: 200px;
    margin-left: 200px;
    padding-top: 20px;
    display: -ms-flexbox;
    display: flex;
    flex: left;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    width:60%;
    height:200px;
    word-wrap: break-word;
    background-color: red;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}
hr.hrl
{
	border: 2px solid black;
}
input[type=submit] {
    width: 220px;
    background: white;
    border: none;
    font-size: 20px;
    padding: 10px 0;
    color: #000;
    line-height: 25px;
    border-radius: 25px;
    cursor: pointer;
    font-weight: 700;
    margin-top: 10px;
    margin-left: 100px;
    margin-bottom: 20px;
}

input[type=text] {
    width: 250px;
    background: white;
    border: none;
    font-size: 15px;
    padding: 10px 0;
    color: #000;
    line-height: 25px;
    font-weight: 500;
    margin-top: 10px;
    margin-left: 60px;
    margin-bottom: 20px;
}

input[type=submit]:hover {
    color: #fff;
    background-color: #000;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

label {
    font-weight: 600;
    font-size: 20px;
    width: 150px;
    display: inline-block;
    color: #000;
}

.label1 {
    font-weight: 600;
    font-size: 20px;
    width: 50px;
    display: inline-block;
}
h3.details
{
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

img.profile-img
{
     width:150px; /*width of your image*/
     height:100px; /*height of your image*/
     margin-bottom:20px;
     margin-left:10px;
     margin-top:10px;

}
hr.new2 {
  border-top: 5px dashed black;
}
label.lb
{
    margin-left:10px;
    display:inline;
    margin-bottom:10 px;
}
input.in{
    margin-left:20px;
}
img {
    transition:transform 0.25s ease;
}

img:hover {
    -webkit-transform:scale(3); /* or some other value */
    transform:scale(3);
}
h3.advice
{
    .body {background-color: coral;}
}
